@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --sky-50: #f0f9ff;
  --sky-100: #e0f2fe;
  --sky-200: #bae6fd;
  --sky-300: #7dd3fc;
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
  --sky-600: #0284c7;
  --sky-700: #0369a1;
  --sky-800: #075985;
  --sky-900: #0c4a6e;
}

* {
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 150px auto;
}

/*  Sidebar */

.sidebar {
  grid-row: 1 / -1;
  /* background-color: var(--sky-600); */
}

.sidebar * {
  /* color: var(--sky-50); */
}

.logo {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.logo span {
  font-size: 2rem;
}

.sidebar,
.sidebar span,
.sidebar a {
  text-decoration: none;
  font-weight: 500;
}

.sidebar span {
  padding: 0 1rem;
  display: inline-block;
  width: 75px;
  text-align: center;
}

.nav-1 span,
.nav-2 span {
  position: relative;
  top: 3px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 0.75rem;
}

.logo,
.nav-1 {
  margin-bottom: 2rem;
}

.sidebar a {
  position: relative;
  left: 0;
  bottom: 0;
}

.sidebar a:hover {
  text-decoration: underline;
  left: 1px;
  bottom: 1px;
  transition: all 0.1s ease-in-out;
}

/* Header */

header {
  display: grid;
  grid-template-rows: 80px 100px;
  grid-template-rows: min-content min-content;
  padding: 0 2rem;
}

.header-top {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  padding: 1rem 0;
}

.header-search {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 1rem;
}

.header-search input {
  border-radius: 1rem;
  border: none;
  background-color: rgb(211, 211, 211, 0.5);
  padding: 0.3rem 0.8rem;
  width: 100%;
}

.header-search input:hover {
  background-color: rgb(211, 211, 211, 0.8);
}

.header-search input:focus {
  background-color: gold;
}

.header-top-right {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  flex: 0;

  font-weight: 700;
}

.avatar {
  background-image: url(./assets/cat.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.avatar-small {
  height: 50px;
  width: 50px;
}

.header-bottom {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  padding: 1rem 0;
}

.header-bottom-left {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  gap: 10px 1rem;
}

.avatar-large {
  height: 80px;
  width: 80px;
  grid-row: 1 / -1;
}

.greeting,
.username-large {
  margin: 0;
  font-weight: 700;
}

.greeting {
  font-size: 0.8rem;
  align-self: flex-end;
}

.username-large {
  font-size: 1.2rem;
  align-self: flex-start;
}

.header-bottom-right {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  flex: 0;
}

header button {
  width: 100px;
  border: none;
  border-radius: 1rem;
  padding: 0.4rem 0;

  background-color: rgb(211, 211, 211, 0.5);

  font-size: 0.8rem;
  cursor: pointer;
}

header button:hover {
  background-color: gold;
}

/* Main */

main {
}

/* Material symbols */

.material-symbols-sharp {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 48;
}

.ms-filled {
  font-variation-settings: "FILL" 1;
}
